{{!< layout}}

<div class="page-container">
  <div class="page">

    <h2>Cacheable macro</h2>

    {{> timing}}

    {{> current-url}}

  </div>
</div>

<script>
  $(window).load(function() {
    debugger;
  });
</script>