
<h2>Timing</h2>

<h3 class="hideable">Page serving</h3>
<p class="hideable">
  This section provides server side oriented page serving timing information.
  When the page is rendered by the server, a <span class="code">&lt;meta&gt;</span> tag is
  created containing a timestamp.
  Once the page is rendered, the timestamp is retrieved as used to determine the duration
  between when the page was generated on the server and when it was rendered in the browser.
  Cacheable dialogs are served with a <i>far future expires</i> which means that the value
  here may grow according to the period the browser has cached the page.
</p>
<p class="hideable">
  <span class="deep-dive">Deep dive</span>:
  The Node express callback for <span class="code">/generic-dialog</span> in <span class="code">routes/index.js</span>
  serves the dialog page (cacheable and non-cacheable).
  This is where the cache control information is set and also the timestamp created.
  The timestamp is passed to the handlebars template <span class="code">layout.hbs</span> using the
  parameter <span class="code">serverRenderTimestamp</span>.
  To exaggerate the differences between the cacheable and non-cacheable patterns, the serving of the dialog
  page also involves and intentional three second delay.
  This is achieved by calling <span class="code">require('sleep').sleep(3)</code>.
</p>
<p class="centered">
  Millis since server render: <span id="millis-since-server-render"></span> <span class="timing note">(large values are better)</span>
</p>

<div id="dialog-creation-timing-container">
  <h3 class="hideable">End to end timing</h3>
  <p class="hideable">
    End to end timing measures the duration from requesting the opening of the page to the time the
    page is rendered.
    End to end timing is only available when the page is programmatically opened since it involves
    passing the start time as a context parameter to the page.
  </p>
  <p class="centered">
    Millis to render from AP.dialog.create() call: <span id="millis-since-dialog-create"></span> <span class="timing note">(small values are better)</span>
  </p>
</div>

<script>
  $(window).load(function() {
    fillOutTimingElements('millis-since-server-render', 'millis-since-dialog-create', 'dialog-creation-timing-container');
  });
</script>
